html {
    line-height: 1.5;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Coustard', serif;
    font-size: 14px;
    color: #253948;
}

h1, h2 {
    margin: 0;
    padding: 0;
    font-family: 'Ruda', sans-serif;
    color: #d4363b;
}

h1 {
    font-size: 3em;
    font-weight: 900;
}

h2 {
    font-size: 2em;
    font-weight: 700;
}

p, ul, ol {
    margin-top: 0;
    line-height: 180%;
    letter-spacing: .5px;
}

a {
    color: #82ac39;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: none;
}

a:visited {
    color: #82ac39;
}

img {
    border: 0 none;
    vertical-align: middle;
}

.clear {
    clear: both;
}

/* Header */

#header {
    width: 100%;
    margin: 0 auto;
    padding: 8px 0 0;
    background: url(../img/tablecloth_red.png) repeat;
    border-bottom: 8px solid #d4363b;
    position: relative;
    z-index: 70;
}

#header img {
    display: block;
    margin: 0 auto 8px;
    max-width: 30%;
}

/* Menu */

#menu {
    margin: 0 auto;
    padding: 0;
    max-width: 1000px;
}

#menu ul {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    list-style: none;
    line-height: normal;
    background-color: #d4363b;
    border-top: 8px solid #d4363b;
}

#menu li {
    color: #ffffff;
    padding: 0 1%;
    margin: 0 1%;
    background-color: #d4363b;
}

#menu a {
    font-size: .89em;
    display: block;
    line-height: 35px;
    text-decoration: none;
    text-align: center;
    text-shadow: -1px 1px 0px rgba(0,0,0,.2);
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    -o-transition: .2s;
    -ms-transition: .2s;
    -moz-transition: .2s;
    -webkit-transition: .2s;
    transition: .2s;
}

#menu a:hover, #menu .current_page_item a {
    text-decoration: none;
    color: #ffffff;
}

#menu a:active {
    color: #ffbdbf;
}

/* Page */

#main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px 0;
}

/* text content */

#content {
    margin: 0 auto;
    padding: 0 5%;
}

/* Icons */

#content ul {
    margin: 0 auto;
    padding: 10px 0 20px;
    width: 200px;
}

#content li {
    float: left;
    list-style-type: none;
}

/* Adverts */

#adverts {
    margin: 0 auto 20px;
    padding: 5%;
}

/* Textures */

.textures img {
    width: 100%;
}

.textures ul {
    margin: 0;
    padding: 0;
}

.textures li {
    float: left;
    list-style-type: none;
    margin: 1%;
    padding-bottom: 40%;
    width: 38%;
}

.textures .redtable {
    background: url(../img/tablecloth_red.png) repeat;
    width: 58%;
    border-top: 10px solid rgba(255, 189, 191, .5);
    border-bottom: 10px solid rgba(255, 189, 191, .5);
}

.textures .greentable {
    background: url(../img/tablecloth_green.png) repeat;
    border-top: 10px solid rgba(183, 212, 157, .6);
    border-bottom: 10px solid rgba(183, 212, 157, .6);
}

.textures .woodtable {
    background: url(../img/tablecloth_green.png) repeat;
    width: 98%;
    padding-bottom: 0;
}

/*Submenu*/

#subMenu li {
    margin: 10px;
    list-style: none;
    width: 80px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    display: inline-block;
}

#subMenu li a {
    text-decoration: none;
    color: #253948;
    display: inline-block;
    outline: none;
}

#subMenu li a span {

}

#subMenu li.active a:hover{
}

#subMenu li a:hover{
    /*background: rgba(255,255,255, 0.8);*/
        color: #d4363b;
}

#subMenu li a,
#subMenu li.active a {
    padding: 9px 18px;
    display: block;
}

#subMenu li.active a {
    color: #d4363b;
}

#subMenu {
    z-index: 65;
    background: #ffffff;
    box-shadow: -1px 1px 0px rgba(0,0,0,.2);
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
}

/*Colors*/

.darkred {
    background-color: #ab2d31;
}

.red ul li {
    background-color: #d4363b;
}

.darkblue ul li {
    background-color: #253948;
}

.blue ul li {
    background-color: #9dcdf1;
}

.green ul li {
    background-color: #82ac39;
}

.redtint ul li {
    background-color: #ffbdbf;
}

.greentint ul li{
    background-color: #b7d49d;
}

/* Icons */
.breakfast a,
.sandwiches a,
.hotdogs a,
.dessert a {
    width: 80px;
    height: 80px;
    background-image: url(../img/icons.png) ;
    background-repeat: no-repeat;
}

.breakfast a {
    background-position: 0px 0px;
}

.breakfast a:hover,
#subMenu li.breakfast.active a {
    background-position: -100px 0px;
}

.sandwiches a {
    background-position: 0px -100px;
}

.sandwiches a:hover,
#subMenu li.sandwiches.active a {
    background-position: -100px -100px;
}

.hotdogs a {
    background-position: 0px -200px;
}

.hotdogs a:hover,
#subMenu li.hotdogs.active a {
    background-position: -100px -200px;
}

.dessert a {
    background-position: 0px -300px;
}

.dessert a:hover,
#subMenu li.dessert.active a {
    background-position: -100px -300px;
}

.section ul {
    padding: 0;
    margin: 0 auto;
    max-width: 1600px;
    display: block;
    text-align: center;
}

.section ul li {
    padding: 0;
    margin: 5px;
    height: 200px;
    list-style: none;
    display: block;
}

.section h2 {
    border-bottom: 2px solid #82ac39;
    margin: 10px 0 0;
}

.section .inner {
    max-width: 1000px;
    margin: 0 auto;
}


@media (min-width: 500px) {
    #header img {
        margin: 0 auto 0;
        max-width: 154px;
    }

    #menu {
        padding: 20px 0 0;
    }

    #menu li {
        display: inline-block;
    }

    .section ul li {
        width: 23%;
        float: left;
        margin: 1%;
    }
}

@media (min-width: 750px) {
    #content {
        width: 400px;
        position: absolute;
        top: 321px;
        padding-left: 35px;
    }

    #content ul {
        padding: 8px 0 10px;
        width: 200px;
    }

    #adverts {
        float: left;
        padding: 0 5% 5% 370px;
    }
}

@media (min-width: 940px) {
    .textures {
        float: left;
        width: 100%;
    }

}
