html {
    line-height: 1.5;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Coustard', serif;
    font-size: 14px;
    color: #253948;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-family: 'Ruda', sans-serif;
}

h1 {
    font-size: 2em;
    font-weight: 900;
    text-align: center;
    color: #d4363b;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5em;
    font-weight: 700;
    color: #82ac39;
}

h3 {
    font-size: 1.6em;
    font-weight: 700;
    color: rgba(255,255,255, 0.7);
    margin: 20px;
    text-align: center;
}

p, ul, ol {
    margin-top: 0;
    letter-spacing: .5px;
    line-height: 180%;
}

p {
    margin-bottom: 20px;
}

ol, ul {
    padding: 0;
}

a {
    color: #82ac39;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: none;
}

a:visited {
    color: #82ac39;
}

img {
    border: 0 none;
    vertical-align: middle;
}

figure {
    width: 100%;
}

.clear {
    clear: both;
}

/* Header */

#header {
    width: 100%;
    margin: 0 auto;
    padding: 8px 0 0;
    background: url(../img/tablecloth_red.png) repeat;
    border-bottom: 8px solid #d4363b;
    position: relative;
    z-index: 70;
}

#header img {
    display: block;
    margin: 0 auto 8px;
    max-width: 30%;
}

/* Menu */

#menu {
    margin: 0 auto;
    padding: 0;
    max-width: 1000px;
}

#menu ul {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    list-style: none;
    line-height: normal;
    background-color: #d4363b;
    border-top: 8px solid #d4363b;
}

#menu li {
    color: #ffffff;
    padding: 0 1%;
    margin: 0 1%;
    background-color: #d4363b;
}

#menu a {
    font-size: .89em;
    display: block;
    line-height: 35px;
    text-decoration: none;
    text-align: center;
    text-shadow: -1px 1px 0px rgba(0,0,0,.2);
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    -o-transition: .2s;
    -ms-transition: .2s;
    -moz-transition: .2s;
    -webkit-transition: .2s;
    transition: .2s;
}

#menu a:hover, #menu .current_page_item a {
    text-decoration: none;
    color: #ffffff;
}

#menu a:active {
    color: #ffbdbf;
}

/* Page */

#main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px 0;
}

/* text content */

#content {
    margin: 0 auto;
    padding: 0 5%;
}

#content h1,
#content h2 {
    text-align: center;
}

#content h2{
    color: #82ac39;
    margin: 0 0 20px;
}

#content li {
    list-style-type: none;
}

#content > ul > li {
    padding: 0 0 20px;
}

.list li,
li.list ul li {
    border-bottom: 1px solid #dbdbdb;
    text-align: left;
}

li.social ul,
ul.social {
    margin: 20px 0;
    border-bottom: 1px solid #dbdbdb;
}

li.social ul li,
.social li {
    display: inline-block;
    outline: none;
}

/* SPECIALS */
#specials {
    margin: 0 auto 20px;
    padding: 5%;
}

#specials h2 {
    margin: 0 auto 20px;
    padding: 5%;
    text-align: center;
}

#specials section {
    padding: 0 0 0;
    margin: 2% 0;
    height: 270px;
}

#specials figure {
    height: 100%;
}

/* ADVERTS */

#adverts {
    margin: 0 auto 20px;
    padding: 5%;
}

#adverts figure {
    height: 400px;
}

#adverts p {
    background: rgba(255,255,255, 0.5);
    background: #fff;
    margin: 20px;
    border-radius: 20px;
    text-align: center;
    padding: 10px 20px;
    font-size: .87em;
}

/* TEXTURES */

.textures img {
    width: 100%;
}

.textures ul {
    margin: 0;
    padding: 0;
}

.textures li {
    float: left;
    list-style-type: none;
    margin: 1%;
    width: 38%;
    height: 600px;
}

.redtable {
    background: url(../img/tablecloth_red.png) repeat;
    border-top: 10px solid rgba(255, 189, 191, .5);
    border-bottom: 10px solid rgba(255, 189, 191, .5);
}

.greentable {
    background: url(../img/tablecloth_green.png) repeat;
    border-top: 10px solid rgba(183, 212, 157, .6);
    border-bottom: 10px solid rgba(183, 212, 157, .6);
}

.woodtable {
    background: url(../img/wood.jpg) repeat;
/*    border-top: 10px solid rgba(255, 255, 255, .6);
    border-bottom: 10px solid rgba(255, 255, 255, .6);*/
}

.textures .redtable {
    width: 58%;
}

.textures .awards {
    width: 100%;
    height: auto;
    padding: 60px 0;
    background: url(../img/awards2.png) center no-repeat;
    height: 600px;
}

.textures .awards img {
    display: none;
}

.awards h2 {
    text-align: center;
    margin-bottom: 20px;
}

/*Submenu*/
#subMenu li {
    padding: 6px 10px 3px;
    list-style: none;
    display: inline-block;
}

#subMenu li a {
    text-decoration: none;
    color: #253948;
    display: inline-block;
    outline: none;
}

#subMenu li a span {

}

#subMenu li.active a:hover{
}

#subMenu li a:hover{
    /*background: rgba(255,255,255, 0.8);*/
        color: #d4363b;
}

#subMenu li a,
#subMenu li.active a {
    padding: 9px 18px;
    display: block;
}

#subMenu li.active a {
    color: #d4363b;
}

#subMenu {
    z-index: 65;
    background: #ffffff;
    box-shadow: -1px 1px 0px rgba(0,0,0,.2);
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
}

#subMenu.foodbar {
    text-align: left;
}

/*Colors*/
.white > li {
    background-color: #ffffff;
}

.sheer > li {
    background: rgba(255,255,255, 0.5);
}

.sheer {
    background: rgba(255,255,255, 0.5);
}

.darkred > li {
    background-color: #ab2d31;
}

.red > li {
    background-color: #d4363b;
}

.darkblue > li {
    background-color: #253948;
}

.blue > li {
    background-color: #9dcdf1;
}

.green > li {
    background-color: #82ac39;
}

.green {
    background-color: #82ac39;
}

.redtint > li {
    background-color: #ffbdbf;
}

.greentint > li{
    background-color: #b7d49d;
}

/*social media*/
.facebook a,
.twitter a,
.youtube a,
.email a {
    background-image: url(../img/social_sprite.png) ;
    background-repeat: no-repeat;
    width: 45px;
    height: 45px;
    display: block;
}

.facebook a {
    background-position: 0px 0px;
}

.facebook a:hover {
    background-position: -49px 0px;
}

.twitter a {
    background-position: 0px -49px;
}

.twitter a:hover {
    background-position: -49px -49px;
}

.youtube a {
    background-position: 0px -98px;
}

.youtube a:hover {
    background-position: -49px -98px;
}

.email a {
    background-position: 0px -147px;
}

.email a:hover {
    background-position: -49px -147px;
}


/* Icons */
.breakfast a,
.sandwiches a,
.hotdogs a,
.dessert a,
.drinks a {
    width: 40px;
    height: 40px;
    background-image: url(../img/icons_small.png) ;
    background-repeat: no-repeat;
}

.breakfast a {
    background-position: 0px 0px;
}

.breakfast a:hover,
#subMenu li.breakfast.active a {
    background-position: -50px 0px;
}

.sandwiches a {
    background-position: 0px -50px;
}

.sandwiches a:hover,
#subMenu li.sandwiches.active a {
    background-position: -50px -50px;
}

.hotdogs a {
    background-position: 0px -100px;
}

.hotdogs a:hover,
#subMenu li.hotdogs.active a {
    background-position: -50px -100px;
}

.dessert a {
    background-position: 0px -150px;
}

.dessert a:hover,
#subMenu li.dessert.active a {
    background-position: -50px -150px;
}

.drinks a {
    background-position: 0px -200px;
}

.drinks a:hover,
#subMenu li.drinks.active a {
    background-position: -50px -200px;
}

.fooditems {
    padding: 0;
    display: block;
}

.fooditems > li {
    padding: 0;
    margin: 0;
    list-style: none;
    display: block;
}

.fooditems figure {
    height: 270px;
}

.foodinfo {
    padding: 10px 20px 40px;
    display: block;
}

.hours {

}

.foodinfo li,
.hours li {
    font-size: .89em;
    padding: 2px 5px;
    list-style: none;
    display: block;
    position: relative;
}

.foodinfo li:first-child {
    font-size: 1em;
    color: #ab2d31;
    padding: 0 7px;
}

.foodinfo li:nth-child(2n+3) {
    background-color: #eee;
}

.foodinfo li span,
.hours li span {
    text-align: center;
    display: inline-block;
    position: absolute;
    right: 0px;
    color: #ab2d31;
    background-color: #ffbdbf;
}

.foodinfo li span {
    width: 25%;
}

.hours li span {
    width: 50%;
}

.foodinfo li span::before,
.hours li span::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: -15px;
    border-top: 25px solid #ffbdbf;
    border-left: 15px solid transparent;
}

.toppinginfo {
    padding: 10px 20px 40px;
    height: 270px;
    overflow: hidden;
}

.toppinginfo li {
    font-size: .89em;
    padding: 2px 5px;
    list-style: none;
    display: block;
}

.toppinginfo li:first-child {
    font-size: 1.2em;
    color: #82ac39;
    padding: 0 7px;
    border-bottom: 1px solid #dbdbdb;
}

.toppinginfo li:last-child {
    border-bottom: 1px solid #dbdbdb;
}

.foodmenu h2 {
    border-bottom: 2px solid #82ac39;
    margin: 10px 0 0;
}

.spacer {
    height: 150px;
}

.foodmenu .inner {
    max-width: 1000px;
    margin: 0 auto;
}

.inner aside {
    padding: 10px 20px 40px;
}

/*MAP*/
#map {
    margin: 0 auto 20px;
    padding: 5%;
}

#map aside {
    margin-top: 40px;
}

.mapborder {
    border-width: 8px;
    border-style: solid;
    border-top-color: #b7d49d;
    border-right-color: #b7d49d;
    border-bottom-color: #437530;
    border-left-color: #437530;
}

#map-canvas {
    width: 500px;
    height: 400px;
    background-color: #CCC;
  }

/* Buttons */
#buttons {
    background: #253948;
    padding: 50px;
}

#buttons ul {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    min-height: 200px;
}

#buttons ul li {
    list-style-type: none;
    text-align: center;
    margin: 0 0 4%;
}

/*.submit_red,
.submit_green {
    width: 100%;
}*/

#buttons li a {
    display: block;
    line-height: 45px;
    height: 61px;
    -o-transition: .2s;
    -ms-transition: .2s;
    -moz-transition: .2s;
    -webkit-transition: .2s;
    transition: .2s;
}

#buttons li a:hover {
    text-decoration: none;
}

.btn_red a,
.btn_green a {
    background: #ffffff;
    border-width: 8px;
    border-style: solid;
}

.btn_red a {
    color: #d4363b;
    border-top-color: #ffbdbf;
    border-right-color: #ffbdbf;
    border-bottom-color: #ab2d31;
    border-left-color: #ab2d31;
}

.btn_red a:hover {
    border-bottom-color: #d4363b;
    border-left-color: #d4363b;
}

.btn_red a:active {
    border-bottom-color: #ab2d31;
    border-left-color: #ab2d31;
}

.btn_green a {
    color: #82ac39;
    border-top-color: #b7d49d;
    border-right-color: #b7d49d;
    border-bottom-color: #437530;
    border-left-color: #437530;
}

.btn_green a:hover {
    border-bottom-color: #82ac39;
    border-left-color: #82ac39;
}

.btn_green a:active {
    border-bottom-color: #437530;
    border-left-color: #437530;
}

.submit_red a {
    background: url(../img/btn_red.png) center no-repeat;
}

.submit_green a {
    background: url(../img/btn_green.png) center no-repeat;
    color: #82ac39;
}

#content.contact h2,
.contact h2 {
    font-size: 1.3em;
    text-align: left;
}

#footer {
    text-align: center;
    padding: 2%;
}

@media (min-width: 500px) {
    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 1.8em;
    }

    #header img {
        margin: 0 auto 0;
        max-width: 154px;
    }

    #menu {
        padding: 20px 0 0;
    }

    #menu li {
        display: inline-block;
    }

    #subMenu.foodbar {
        text-align: center;
    }

    #subMenu li {
        padding: 10px 5px;
    }

    #buttons ul li {
        float: left;
        width: 46%;
        margin: 0 2% 4%;
    }

    .textures li {
        height: 520px;
    }

    .textures .awards {
        border-width: 8px;
        border-style: solid;
        border-top-color: #b7d49d;
        border-right-color: transparent;
        border-bottom-color: #437530;
        border-left-color: transparent;
        background: none;
        height: auto;
    }

    .textures .awards img {
        display: inline;
    }

    .breakfast a,
    .sandwiches a,
    .hotdogs a,
    .dessert a,
    .drinks a {
        width: 80px;
        height: 80px;
        background-image: url(../img/icons.png) ;
    }

    .breakfast a {
        background-position: 0px 0px;
    }

    .breakfast a:hover,
    #subMenu li.breakfast.active a {
        background-position: -100px 0px;
    }

    .sandwiches a {
        background-position: 0px -100px;
    }

    .sandwiches a:hover,
    #subMenu li.sandwiches.active a {
        background-position: -100px -100px;
    }

    .hotdogs a {
        background-position: 0px -200px;
    }

    .hotdogs a:hover,
    #subMenu li.hotdogs.active a {
        background-position: -100px -200px;
    }

    .dessert a {
        background-position: 0px -300px;
    }

    .dessert a:hover,
    #subMenu li.dessert.active a {
        background-position: -100px -300px;
    }

    .drinks a {
        background-position: 0px -400px;
    }

    .drinks a:hover,
    #subMenu li.drinks.active a {
        background-position: -100px -400px;
    }

    ul.fooditems > li {
        width: calc(100%/2);
        float: left;
        padding: 0;
        margin: 5px 0;*/
    }

    ul.fooditems > li:last-child {
        width: calc(100%/1);
    }

    .section3 ul.fooditems > li:first-child,
    .section4 ul.fooditems > li:first-child {
        width: calc(100%/1);
    }

/*    .section4 ul.fooditems > li:last-child {
        width: calc(100%/1);
    }*/

    .foodinfo {
        padding: 10px 10px 40px;
    }

/*    #content.contact {
        width: 300px;
        position: absolute;
        top: 321px;
        padding-left: 35px;
    }*/
}

@media (min-width: 750px) {
    #content {
        width: 400px;
        position: absolute;
        top: 321px;
        padding-left: 35px;
        padding-right: 60px;
    }

    #content h1,
    #content h2 {
        text-align: left;
    }

    #content h2{
        color: #82ac39;
        margin: 20px 0;
    }

    #content > ul {
        padding-right: 40px;
    }

    #adverts {
        float: left;
        padding: 0 5% 5% 370px;
    }

    #subMenu li {
        padding: 10px;
    }

    .section3 ul.fooditems > li:first-child,
    .section4 ul.fooditems > li:first-child {
        width: calc(100%/1.5);
    }

    .section3 ul.fooditems > li:last-child,
    .section4 ul.fooditems > li:last-child {
        width: calc(100%/3);
    }

    .section4 ul.fooditems > li:last-child .foodinfo{
        padding: 10px 10px 40px 20px;
    }

    .toppinginfo {
        padding: 10px 10px 40px 20px;
    }

/*    #specials {
        float: left;
        margin: 0 5% 5% 370px;
        width: 58%;
        padding: 0 10%;
    }

    #specials section{
        overflow: hidden;
    }*/

    #buttons ul li {
        float: left;
        width: 29%;
    }

    #map {
        float: left;
        padding: 0 5% 5% 340px;
    }

    #map {
        width: 100%;
    }
}

@media (min-width: 940px) {
    .textures {
        float: left;
        width: 100%;
    }

    ul.fooditems > li {
        width: calc(100%/3);
    }

    ul.fooditems > li:last-child {
        width: calc(100%/3);
    }

    .foodinfo {
        padding: 10px 5px 40px;
    }
}

@media (min-width: 1000px) {
    .section4 ul.fooditems > li:last-child .foodinfo{
        padding: 10px 0 40px 20px;
    }

    .toppinginfo {
        padding: 10px 0 40px 20px;
    }
}
